.transactionHistory {
  font-size: 20px;
  border-collapse: collapse;
  width: 870px;
}

th {
  background: #00bcd5;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 300;
}

td:first-child {
  padding-left: 20px;
  text-transform: capitalize;
}

th,
td {
  padding: 10px 20px;
  text-align: center;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

tbody tr:nth-child(even) {
  background-color: #edf2f5;
}
